.container {
  width: min(100% - 32px, 1024px);
  margin-inline: auto;
}
/* carousel */

.current {
  opacity: 1 !important;
}
.slide-img {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  transition: all 1.5s ease-in-out;
  opacity: 0;
}
