@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Kanit", serif;
}
/* TYPOGRAPHY */
.subpage-main p {
  font-weight: 160%;
  font-weight: 200;
}
.service-heading {
  font-weight: 400;
  line-height: 90%;
  font-size: clamp(32px, 8vw, 80px);
}
.service-heading,
.service-heading-one,
.service-heading-two,
.default-service-box-header {
  text-shadow: 0 4px 2px hsla(0, 0%, 0%, 0.161);
}
.service-heading-one {
  font-size: 21px;
}
.service-heading-two,
.service-heading-three {
  font-size: 32px;
}
.cad-service-card span {
  color: white;
}
.service-heading-four {
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.155);
  border-radius: 4px;
  width: 100%;
}
/* end TYPOGRAPHY */
.subpage-main {
  position: relative;
  min-height: 100%;
  padding-block: 8vh;
}
/* .subpage-main::before {
  content: "";
  position: absolute;
  background: url("/src/assets/images/main-background-overlay.jpg") no-repeat
    center center/cover;
  background-attachment: fixed;
  inset: 0;
} */
.default-window {
  padding: 16px;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.default-service-box-gallery,
.default-window {
  border-radius: 8px;
  background-color: hsla(0, 0%, 100%, 0.04);
  outline: 1px solid hsla(0, 0%, 100%, 0.2);
  z-index: 1;
}
.default-service-box-gallery-body .gallery {
  position: relative;
}
.service-section-header {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  text-transform: uppercase;
  line-height: 200%;
  font-size: 26px;
  margin-bottom: 32px;
}
.service-section-header > img {
  width: 15vw;
  border-radius: 4px;
}
.default-service-box {
  padding: 8px;
  outline: 1px solid hsla(0, 0%, 100%, 0.3);
  display: grid;
  gap: 16px;
  background-color: hsla(0, 0%, 0%, 0.12);
}
.default-service-box,
.default-service-box-gallery {
  border-radius: 8px;
  overflow: hidden;
}

.default-window-row {
  display: flex;
  gap: 16px;
  align-items: center;
  text-transform: uppercase;
}
.service-list-box {
  border-radius: 8px;
  outline: 1px solid hsla(0, 0%, 100%, 0.2);
  backdrop-filter: blur(5px);
  background-color: hsla(0, 0%, 100%, 0.04);
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.services-list-heading {
  padding: 16px;
  text-transform: uppercase;
  text-align: center;
  background-color: hsla(0, 0%, 100%, 0.12);
  font-size: 18px;
}
.services-list {
  padding: 8px;
  display: grid;
  gap: 8px;
}
.services-list li {
  position: relative;
  list-style: decimal !important;
  margin-left: 24px;
  font-weight: 300;
  font-size: 20px;
}
.default-service-box-gallery-body {
  padding: 5vw;
  display: grid;
  /* place-content: center; */
  grid-template-rows: repeat(9, 170px);
  gap: 8px;
  min-height: 100vh;
}
.default-service-box-header {
  padding: 16px;
  background: linear-gradient(to bottom, #6e91d2, #394b6c);
  text-transform: uppercase;
  font-size: 24px;
}
.default-service-box-gallery {
  background-color: hsla(0, 0%, 0%, 0.2);
}
.default-service-box-gallery-body img {
  border-radius: 4px;
}
.cad-service-card {
  padding: 8px;
  border-radius: 8px;
  outline: 1px solid white;
  width: 100%;
  transition: 0.35s;
}
.cad-service-card:hover {
  background-color: rgba(255, 255, 255, 0.124);
}
.cad-service-card img {
  width: 64px;
  border-radius: 4px;
}
.services-body {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.services-body-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.services-socials-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  border-radius: 8px;
  margin: auto;
  gap: 32px;
  background-color: rgba(255, 255, 255, 0.175);
}
.services-subpage-overlay {
  pointer-events: none;
  z-index: -1;
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  opacity: 0.2;
}
@media (min-width: 1200px) {
  .service-section-header {
    justify-content: space-between;
  }
  .services-list {
    padding: 8px;
    display: grid;
    gap: 8px;
    place-content: space-evenly;
  }
  .services-list li {
    position: relative;
    list-style: decimal !important;
    margin-left: 24px;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
  }
  .default-service-box-gallery-body img {
    height: 100%;
    width: 100%;
  }
  .default-service-box-gallery-body {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .default-service-box-gallery-body > :nth-child(1) {
    grid-column: 1/5;
    grid-row: 1/3;
  }
  .default-service-box-gallery-body > :nth-child(2) {
    grid-column: 5/-1;
    grid-row: 1/2;
  }
  .default-service-box-gallery-body > :nth-child(3) {
    grid-column: 5/-1;
    grid-row: 2/3;
  }
  .default-service-box-gallery-body > :nth-child(4) {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .default-service-box-gallery-body > :nth-child(5) {
    grid-column: 3/-1;
    grid-row: 3/5;
  }
  .default-service-box-gallery-body > :nth-child(6) {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .default-service-box-gallery-body > :nth-child(7) {
    grid-column: 1/3;
    grid-row: 5;
  }
  .default-service-box-gallery-body > :nth-child(8) {
    grid-column: 3/5;
    grid-row: 5;
  }
  .default-service-box-gallery-body > :nth-child(9) {
    grid-column: 5/7;
    grid-row: 5;
  }
  .services-body {
    display: flex;
    flex-wrap: wrap;
  }
  .services-body > * {
    flex: 1;
  }
  .services-socials-body {
    flex-direction: row;
    margin-block: 64px;
  }
  .services-socials-body > a:hover {
    scale: 1.2;
    transition: 0.3s;
  }
  .services-socials-body img {
    pointer-events: none;
  }
}
